.group-stage {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
}

.group-card {
	box-sizing: border-box;
	border: 2px solid #c7bfbf;
	padding: 1rem;
	border-radius: 1rem;
	background-color: #fff;
	box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
	margin-bottom: 2rem;
	overflow: hidden;
	min-width: 0;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

.group-card:hover {
	transform: translateY(-4px);
}

.group-card h2 {
	text-align: center;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	color: #333;
	font-weight: 600;
}

.group-table-wrapper {
	overflow-x: auto;
	margin-top: 0.5rem;
}

.group-table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1rem;
	text-align: center;
	min-width: 500px;
}

.group-card img {
	width: 26px;
	height: 18px;
	border-radius: 2px;
	object-fit: cover;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.team-cell {
	padding: 0.5rem;
	vertical-align: middle;
}

.team-info {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.group-table-wrapper {
	overflow-x: auto;
	width: 100%;
}

.group-table th:first-child,
.group-table td:first-child {
	text-align: left;
	width: 1rem;
}

.group-table th,
.group-table td {
	padding: 0.4rem 0.6rem;
	text-align: center;
	vertical-align: middle;
	white-space: nowrap;
	border: 1px solid #ccc;
}

.group__top-team {
	background-color: #e4f9e7; /* light green */
	font-weight: 600;
}

.knockout-button-wrapper {
	text-align: center;
	margin-top: 2rem;
}

.proceed-knockout-button {
	background-color: #1f8a70;
	color: #fff;
	padding: 0.75rem 1.5rem;
	font-size: 1.1rem;
	border: none;
	border-radius: 0.6rem;
	cursor: pointer;
	transition: background-color 0.3s ease, transform 0.2s ease;
	box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.proceed-knockout-button:hover {
	background-color: #166e5a;
	transform: translateY(-2px);
}

.proceed-knockout-button span[role='img'] {
	display: inline-block;
	transition: transform 0.2s ease;
}

.proceed-knockout-button:hover span[role='img'] {
	transform: scale(1.2) rotate(-10deg);
}

@media (max-width: 600px) {
	.group-stage {
		grid-template-columns: 1fr;
		justify-items: center;
		gap: 0.5rem;
	}

	.group-card {
		border: 1px solid rgb(214, 193, 193);
		padding: 0.75rem 0.5rem;
		margin-bottom: 0.5rem;
		box-sizing: border-box;
		width: 100%;
		max-width: 100%;
	}

	.group-card h2 {
		font-size: 1.1rem;
		margin-bottom: 0.5rem;
	}

	.group-card::-webkit-scrollbar {
		display: none; /* Hide scrollbar for cleaner look */
	}

	.group-card > * {
		max-width: 100%;
	}

	.group-table {
		width: 100%;
		min-width: 500px;
		display: table;
		table-layout: auto;
		font-size: 0.8rem;
		overflow-x: auto;
	}

	.group-table th,
	.group-table td {
		flex-direction: column;
		align-items: stretch;
		gap: 0.5rem;
		padding: 0.3rem 0.4rem;
	}
}
